# Virtual Environment
venv/
env/
.env/
.venv/

# Python
*.py[cod]
__pycache__/
*.so
.Python
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Distribution / packaging
dist/
build/
*.egg-info/

# Access Token
access_token.py